<div class="content" id="content">
    <div class="container mt-5">
        <h2 class="text-center mb-4">Aktif İşler</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Müşteri Ad-Soyad</th>
                    <th>Adres</th>
                    <th>Telefon</th>
                    <th>Açıklama</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Ali</td>
                    <td>Yılmaz</td>
                    <td>30</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ayşe</td>
                    <td>Öztürk</td>
                    <td>25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Mehmet</td>
                    <td>Demir</td>
                    <td>35</td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Elif</td>
                    <td>Aslan</td>
                    <td>28</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>